:root {

    --colorFondo: #eae0e0;
    --colorCards: rgb(210, 192, 192);
}


/*UTILIDADES*/

.centrar-texto {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.no-margen {
    margin: 0;
}


body {
    background-color: var(--colorFondo);
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-img img {
    width: 110%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.contenedor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
}

.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-column: 1/4;
}

.presentacion-info {

    background-color: var(--colorCards);
    border-radius: 17px;
}

.presentacion-info p {
    margin-left: 5px;
    margin-right: 5px;
}

.idiomas {
    grid-column: 1/4;
    background-color: var(--colorCards);
    border-radius: 17px;

}

.idiomas h2 {
    margin: 8px;
}

.idiomas section {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}

.idiomas section div {
    width: 70%;
    height: 15px;
    border-radius: 5px;
    background-color: green;
}

.idiomas section:last-child div {
    width: 60%;
}

.idiomas section:first-of-type div {
    width: 20%;
}
.titulo-idoma{
    width: 80px;
}